services:
  api:
    image: samuelpazz/api-pet-columbia:3.0.0
    container_name: api-petcolumbia
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: unless-stopped
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: redis
    env_file:
      - .env
    command: [
      "redis-server",
      "--save", "60", "1",
      "--requirepass", "${REDIS_PASSWORD}",
      "--loglevel", "warning"
    ]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  redisinsight:
    image: redis/redisinsight:latest
    container_name: redisinsight
    ports:
      - "5540:5540"
    volumes:
      - redisinsight_data:/data
    restart: unless-stopped

volumes:
  redis_data:
  redisinsight_data:
