name: CI/CD petcolumbia

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      # ✅ CI - BUILD
      - name: Build
        run: mvn -B clean package -DskipTests

      # ✅ CI - TESTS
      - name: Run Tests
        run: mvn -B test

      # ✅ CD - GERAR ARTEFATO
      - name: Publish JAR
        uses: actions/upload-artifact@v4
        with:
          name: petcolumbia-jar
          path: target/*.jar
