name: CI/CD petcolumbia

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  Build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"

      - name: Build
        run: mvn -B clean package -DskipTests

  Test:
    runs-on: ubuntu-latest
    needs: Build

    steps:
      - name: Run Tests
        run: mvn -B test

  CD:
    runs-on: ubuntu-latest
    needs: Test

    steps:
      - name: Publish JAR
        uses: actions/upload-artifact@v4
        with:
          name: petcolumbia-jar
          path: target/*.jar